.card-sdg {
  border: 1px solid map-get($neutrals, 200);
  border-radius: $border-radius-1;
  padding: $distance-3;
  width: 100%;

  &__header {
    margin-top: 0;
  }

  &__header-description {
    margin-top: $distance-1;
    margin-bottom: $distance-3;
  }
}
