.app {
  padding-top: 130px;
  min-height: calc(100vh - 200px);

  @media (max-width: map-get($breakpoints, md)) {
    padding-top: 80px;
  }
}

.home {
  &-content {
    margin-bottom: 115px;
    position: relative;
    z-index: 9;
    padding: 0 $distance-2;

    &__npo-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: $distance-4;
      grid-row-gap: 0;
      z-index: 9;
      position: relative;

      @media (max-width: map-get($breakpoints, xs)) {
        display: flex;
        flex-direction: column;
      }

      @media (max-width: map-get($breakpoints, md)) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__section {
      margin-top: 160px;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: -0.02em;
      color: map-get($base, Black);
      display: flex;
      align-items: center;
      gap: $distance-4;
      margin-bottom: $distance-5;

      @media (max-width: map-get($breakpoints, xs)) {
        flex-direction: column;
        align-items: flex-start;
      }

      &-hr {
        width: 79px;
        height: 1px;
        background-color: map-get($turquoise, 300);
        margin-right: auto;
      }

      &-columns {
        margin-top: 160px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $distance-4;
        grid-row-gap: $distance-4;

        @media (max-width: map-get($breakpoints, xs)) {
          display: flex;
          flex-direction: column;
        }
      }

      &-left {
        max-width: 493px;
      }

      &-right {
        width: 382px;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 28px;

        @media (max-width: map-get($breakpoints, xs)) {
          width: auto;
        }
      }

      &.top {
        align-items: flex-start;

        .home-content__section-hr {
          margin-top: $distance-3;
        }

        .home-content__section-right {
          margin-top: 12px;
        }
      }
    }
  }

  &-callout {
    height: 320px;
    position: relative;
    padding: $distance-4 $distance-5;
    border-radius: $distance-2;
    overflow: hidden;

    &--green {
      background-color: get-rgba(map-get($turquoise, 500));

      .home-callout__title {
        color: map-get($turquoise, 500) !important;
      }

      .home-callout__footer {
        box-shadow: 0px 4px 116px rgba(12, 131, 128, 0.24);
      }
    }

    &--yellow {
      background-color: map-get($golden-tainoi, 0);

      .home-callout__title {
        color: map-get($golden-tainoi, 500) !important;
      }

      .home-callout__footer {
        box-shadow: 0px 4px 116px rgba(255, 203, 119, 0.56);
      }
    }

    &__description {
      font-size: 18px;
      line-height: 28px;
      color: map-get($base, Black);
    }

    &__footer {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 365px;
      height: 136px;
      background-color: map-get($base, white);
      border-radius: $distance-4 0 0 0;

      @media (max-width: map-get($breakpoints, xs)) {
        display: none;
      }
    }
  }
}
