.successModal {
  &__subtitle {
    color: map-get($base, black);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  &__transition {
    margin-top: $distance-4;

    &-title {
      color: map-get($neutrals, 700);
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
    &-id {
      @extend .successModal__subtitle;
      font-weight: 400;
    }
  }
  &__separator {
    border-top: 2px solid map-get($neutrals, 200);
    margin-top: $distance-4;
    margin-bottom: $distance-4;
  }
  &__share {
    &-title {
      @extend .successModal__subtitle;
      margin-bottom: $distance-1;
    }
    &-subtitle {
      @extend .successModal__transition-title;
    }
    &-icons {
      display: flex;
      margin-top: $distance-3;
      margin-bottom: $distance-3;

      ul {
        padding: 0;
        margin: 0 $distance-1 0 $distance-1;
        flex: 0 0 50%;

        li {
          list-style: none;
          margin-bottom: $distance-2;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            cursor: pointer;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: map-get($base, black);
            text-decoration: none;

            &:hover,
            &:active,
            &:focus {
              text-decoration: none;
            }

            .share-icon {
              font-size: 16px;
              text-decoration: none;
              justify-content: center;
              border-radius: 50%;
              height: 40px;
              width: 40px;
              display: inline-flex;
              vertical-align: middle;
              align-items: center;
              border: 0px;
              cursor: pointer;
              position: relative;
              margin-right: $distance-2;

              &:focus,
              &:hover,
              &:active {
                color: map-get($base, white);
                text-decoration: none;
                outline: none;
              }
            }
            .share-facebook {
              background-color: get-rgba(map-get($social, facebook), 8);
              @include svg-change-color(map-get($social, facebook));
            }
            .share-twitter {
              background-color: get-rgba(map-get($social, twitter), 8);
              @include svg-change-color(map-get($social, twitter));
            }
            .share-linkedin {
              background-color: get-rgba(map-get($social, linkedin), 8);
              @include svg-change-color(map-get($social, linkedin));
            }
            .share-email {
              background-color: get-rgba(map-get($social, email), 8);
              @include svg-change-color(map-get($social, email));
            }
            .share-whatsapp {
              background-color: get-rgba(map-get($social, whatsApp), 8);
              @include svg-change-color(map-get($social, whatsApp));
              font-size: 19px;
            }
            .share-link {
              background-color: map-get($neutrals, 400);
            }
          }
        }
      }
    }
  }
}
