$base: (
  black: #1a1b1c,
  white: #ffffff,
);

$background: (
  primary: #ffffff,
  secondary: #f5f5f6,
);

$neutrals: (
  100: #eaebec,
  200: #dadcde,
  400: #abb1b3,
  700: #6c7679,
  900: #424f53,
);

$turquoise: (
  0: #edfffd,
  50: #bff6f0,
  100: #93ede3,
  150: #6be3d7,
  200: #46daca,
  300: #17c3b2,
  400: #0fa39a,
  500: #0c8380,
  600: #0b6363,
  700: #094143,
  800: #062123,
  900: #010303,
);

$blue: (
  0: #edfaff,
  50: #d1eff9,
  100: #b6e4f4,
  150: #9bd7ed,
  200: #b1cce5,
  300: #5ab4d4,
  400: #3a99bd,
  500: #227c9d,
  600: #195d7c,
  700: #113c54,
  800: #071721,
  900: #010203,
);

$watermelon: (
  0: #ffedee,
  50: #ffd8d9,
  100: #ffc2c5,
  150: #ffadb0,
  200: #ff979b,
  300: #fe6d73,
  400: #d44b50,
  500: #aa3336,
  600: #b02224,
  700: #561516,
  800: #2c0a0b,
  900: #030101,
);

$golden-tainoi: (
  0: #fff8ed,
  50: #ffedcf,
  100: #ffe1b1,
  150: #ffd694,
  200: #ffcb77,
  300: #dba852,
  400: #b78838,
  500: #936b26,
  600: #6f501a,
  700: #4b3611,
  800: #271c09,
  900: #030201,
);

$negative: (
  0: #fff1ed,
  50: #ffdcd1,
  100: #ffc6b5,
  150: #ffb099,
  200: #ff9b7e,
  300: #f27551,
  400: #e4572e,
  500: #b74520,
  600: #8b3618,
  700: #5e2611,
  800: #32160a,
  900: #050201,
);

$positive: (
  0: #edfff3,
  50: #bbf5cf,
  100: #8decad,
  150: #62e28d,
  200: #3bd96f,
  300: #0bc14b,
  400: #07a149,
  500: #068243,
  600: #076239,
  700: #08422b,
  800: #062218,
  900: #010302,
);

$warning: (
  0: #fff5ed,
  50: #fee2c4,
  100: #fdd59b,
  150: #fbd073,
  200: #fad14c,
  300: #d7ae32,
  400: #b38e22,
  500: #906e18,
  600: #6d5112,
  700: #49350d,
  800: #261b0b,
  900: #030301,
);

$elevation: (
  50: 0px 2px 4px rgba(26, 27, 28, 0.04),
  100: 0px 4px 8px rgba(26, 27, 28, 0.04),
  200: (
    0px 4px 16px rgba(26, 27, 28, 0.04),
    0px 2px 4px rgba(26, 27, 28, 0.04),
  ),
  300: (
    0px 8px 24px rgba(26, 27, 28, 0.04),
    0px 2px 4px rgba(26, 27, 28, 0.04),
  ),
  400: (
    0px 16px 32px rgba(26, 27, 28, 0.04),
    0px 4px 16px rgba(26, 27, 28, 0.04),
  ),
  500: (
    0px 16px 48px rgba(26, 27, 28, 0.04),
    0px 4px 24px rgba(26, 27, 28, 0.04),
  ),
);

$distance-1: 8px;
$distance-2: 16px;
$distance-3: 24px;
$distance-4: 32px;
$distance-5: 40px;
$distance-6: 48px;
$distance-7: 56px;
$distance-8: 64px;
$distance-9: 72px;
$distance-10: 80px;
$distance-16: 128px;

$border-radius-1: 8px;
$border-radius-2: 18px;
