.container {
  min-height: calc(100vh - 160px - 168px);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web3 {
  &__connect-modal {
    & > div:first-of-type {
      z-index: 1000;
    }
  }
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid map-get($neutrals, 200);
  margin-top: $distance-5 !important;
}
